{% extends "shop/shop.html" %}

{% load i18n translate_interface shop_tags %}

{% block title %}{{ infc|trans:"Order" }}{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block breadcrumbs %}
	<li><a href="/basket/">{{ infc|trans:"Basket" }}</a><span class="sep">/<span></li>
	<li>{{ infc|trans:"Order buy" }}</li>
{% endblock %}

{% block shop_top %}
{% endblock %}

{% block content2 %}
{% endblock %}

{% block shop_content %}
	{% if id %}
		<div {% if o %}class="block"{% endif %}>
			<h2 class="f_left">{{ infc|trans:"Paid done" }}</h2>
			<a class="but f_right" href="/shop/invoice/?id={{ id }}">{{ infc|trans:"Download invoice" }}</a>
			<div class="clr"></div>
		</div>
		
		{% if o %}
			{% if o.get_op %}
				<table class="t_bg border_r">
					<tbody>
						<tr class="t_title border_r_t">
							<th>{{ infc|trans:"Brand" }}</th>
							<th>{{ infc|trans:"Printer" }}</th>
							<th>{{ infc|trans:"Patron" }}</th>
							<th>{{ infc|trans:"Price" }}</th>
							<th>{{ infc|trans:"Cost" }}</th>
							<th>{{ infc|trans:"Amount" }}</th>
						</tr>

						{% for b in o.get_op %}
							<tr class="t_grad">
								<td class="t_name">{{ b.product.category.title }}</td>
								<td class="t_left">{{ b.product.printer.title }}</td>
								<td>{{ b.product.title }}</td>
								<td>{{ infc|trans:"rub." }} {{ b.get_cost|shop_intcomma }}</td>
								<td>{{ infc|trans:"rub." }} {{ b.get_total_cost|shop_intcomma }}</td>
								<td>{{ b.count }}</td>
							</tr>
						{% endfor %}
						
						{% if o.is_delivery %}
							<tr class="t_grad">
								<td colspan="5" class="t_right">{{ infc|trans:"Delivery" }}</td>
								<td>{{ infc|trans:"rub." }} {{ o.cost_delivery|shop_intcomma }}</td>
							</tr>
						{% endif %}

						<tr class="border_r_b">
							<th></th>
							<th colspan="5" class="t_right">
								{{ infc|trans:"In total" }}:&nbsp;{{ infc|trans:"rub." }} {{ o.get_total_cost|shop_intcomma }}
							</th>
						</tr>
					</tbody>
				</table>
			{% endif %}
		{% endif %}
		
		<iframe src="/shop/invoice/?id={{ id }}" width="1" height="1" style="display:none"></iframe>
	{% else %}
		<h3>
			{{ infc|trans:"Paid error" }}
		</h3>
	{% endif %}
{% endblock %}